:root{
    --matnRangi:white;
    --orqaFoni: red;
}
/*body{
    background-color: var(--orqaFoni);
    color: var(--matnRangi);
}*/
.wrap{
    width: 1200px;
    margin: 0 auto;
}
.row{
    width: 100%;
}
.col{
    width: 30%;
    float: left;
    display: block;
    margin: 20px 15px;
}
.ing-box{
    width: 100%;
    height: 250px;
    display: block;
}
.ing-box img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: fill;/* cover, contain, fill */
}
.text{
/*    column-count:3;*/
    column-gap: 35px;
    column-rule: 5px solid red;
    column-width: 350px;
}
.clear{
    clear: both;
}

@media(min-width: 240px) and (max-width: 570px){
    .wrap{
        width: 100%;
        background-color: green;
    }
}
@media (min-width: 570px) and (max-width: 780px){
    .wrap{
        width: 100%;
        background-color: blueviolet;
    }
}
@media (min-width: 780px) and (max-width: 990px){
    .wrap{
        width: 100%;
        background-color: red;
    }
}
@media (min-width: 990px) and (max-width: 1200px) {
    .wrap{
        width: 100%;
        background-color: dodgerblue;
    }
}
@media (min-width: 1200px){
    .wrap{
        width: 100%;
        background-color: aqua;
    }

}




























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































